* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "auto",sans-serif;
	list-style: none;
	text-decoration: none;
}
.hero {
	width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.04);
    padding: 25px 0 25px;
}
.nav {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-top: 2px solid #cec7c7;
    border-bottom: 2px solid #cec7c7;
    width: 95%;
    margin: 0 auto;
}
.navlist-1 {
 	display: flex;
    justify-content: center;
    align-items: center;
 }
.img {
	display: flex;
}
.img img {
	width: 50px;
    max-width: 100%;
}
h3 {
	margin: 12px 5px 0;
    font-family: auto;
    font-size: 22px;
}
input {
	width: 250px;
    font-size: 17px;
    padding: 4px 10px;
    border: none;
    outline: none;
    background: #cec1c1;
}
 .selection , ::placeholder {
	color: blue;
}
 .selection {
 	width: 105px;
    font-size: 18px;
    padding: 4px 4px 4px 10px;
    outline: none;
    border: none;
    margin-right: 20px;
 }
.navlist-1 li a {
	padding: 10px;
	font-size: 16px;
	color: #0505a3;
    font-weight: 600;
    transition: .5s ease-in;
}
.navlist-1 li a:hover
{
	color: orange;
	letter-spacing: 0.7px;
}

/* Home section */

#home {
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10%;
}
.home-img {
	width: 500px;
}
.home-img img{
	width: 100%;
}
.content {
	width: 50%;
	text-align: justify;
}
.content h2 {
	font-family: auto;
	font-size: 45px;
    margin: 0 0 30px;
    position: relative;
}

.content h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 3px;
    background: blueviolet;
}

.content p {
	color: #5a4141;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 24px;
    margin-bottom: 40px;
}
.content a {
    color: floralwhite;
    background: #4545bf;
    padding: 8px 15px;
    transition: .4s ease-in;
}
.content a:hover {
	background: green;
}

/* footer section starts */
.footer {
	position: absolute;
    width: 100%;
    height: 180px;
    top: 600px;
    padding: 50px 0 0;
    background: #000131;
}
.foot-element {
	display: flex;
	justify-content: center;
	align-items: center;
}
.foot-element a {
    font-size: 14px;
    padding: 10px 10px 5px;
    margin-right: 20px;
    color: orange;
    border-bottom: 2px solid red;
    transition: .3s;
}
.foot-element a:hover {
	color: cyan;
	border-bottom: 2px solid white;
	transform: translateX(-10px);
}
/* Table part for footer section */
.table {
	position: absolute;
    top: 120px;
    left: 350px;
    color: white;
    width: 50%;
    text-align: center;
}
.tr-2 {
	color: chartreuse;
}
